body {
    background-color: #19273F;
    background-image: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.110) 90%);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.window {

    background-color: whitesmoke;
    width: 1200px;
    height: 700px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.searchbar {
    background-color: #22201F;
    height: 50px;
    border-radius:2px 2px 0 0;
    line-height: 50px;
}

.dot {
    width: 17px;
    height: 17px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    vertical-align: center;
    display: inline-block;
    transform: translateX(+150%);
}

h1{
    color: #627BA7;
    margin-top: 100px;
    margin-left: 80px;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color:#627BA7;
}
p1{

    color: #19273F;
    margin-top: 1px;
    margin-left: 80px;
    font-size: 20px;
}
p2{
    color: #19273F;
    margin-top: 2200px;
    margin-left: 80px;
    font-size: 20px;
}
p3{
    color: #19273F;
    margin-top: 2200px;
    margin-left: 80px;
    font-size: 20px;
}
.stripes {
    margin-left: 55%;
    width: 17px;
    height: 17px;
    height: 4px;
    background-color: white;
    margin-bottom: 10px; /* Adjust the spacing between the stripes as needed */
    vertical-align: center;
    display: inline-block;
    transform: translateX(+150%);
}

.image {
    position: absolute;
    top: 17.75%;
    right: 18.7%;
    height: 70%;
    width: 28.5%;
    border-radius: 0 10px 10px 0;
}

.square {
    width: 200px;
    height: 200px;
    background-color: #627BA7;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 3px white;
}

h2{
    color: whitesmoke;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 33px;
    text-decoration: underline;
    text-decoration-color:#627BA7;
}